Словник

<main>
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase"> Second</h2>
    <h3 class="text-capitalize"> 3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5"> second</div>
    <div class="display-6">3 title</div>


    <hr>
    {{!-- Для спану потрібно використовувати дів щоб текст відображався корекно поцентру або для іншого позиціювання
    --}}
    <div class="text-end">
        <span class="text-muted">Додатковий текс</span>
    </div>

    <hr>

    <button class="btn btn-primary">Test button</button>

    <button class="btn btn-primary">
        <span class="text-uppercase"> Button primary</span>
    </button>


    <hr>

    <p class="text-primary">My text</p>

    <p class="text-muted">My text</p>

    <hr>


    <button class="btn btn-outline-primary btn-lg">My button</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>
<main>
    <div class="row gy-5">
        <section class="col-12">
            <div class="card">
                <img class="card-img-top" src="http://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #16433</h5>
                    <p class="text-bg-secondary">Ноутбук ASUS TUF Dash F15 <br> FX517ZC-HN098</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="card">
                <div class="card-header">
                    <div class="display-6">Menu</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Homa page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>
        <section class="col-9">
            <table class="table table-striped table-bordered text-bg-info">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Ivan</td>
                        <td>29</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>
        </section>
    </div>






    {{!-- <br>
    <br>
    <br>
    <hr>

    <div class="card text-bg-success">
        <div class="card-header">
            <div class="display-6">Menu</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Homa page</a>
            </li>
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    <br>
    <br>
    <hr>

    <table class="table table-striped table-bordered text-bg-info">
        <thead>
            <tr>
                <th>#id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Jon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <hr>

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="row gx-5 gy-1">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div> --}}


</main>