Словник

<main class="p-5">
    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase"> Second</h2>
    <h3 class="text-capitalize"> 3 title one two</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5"> second</div>
    <div class="display-6">3 title</div>


    <hr>
    {{!-- Для спану потрібно використовувати дів щоб текст відображався корекно поцентру або для іншого позиціювання
    --}}
    <div class="text-end">
        <span class="text-muted">Додатковий текс</span>
    </div>

    <hr>

    <button class="btn btn-primary">Test button</button>

    <button class="btn btn-primary">
        <span class="text-uppercase"> Button primary</span>
    </button>


    <hr>

    <p class="text-primary">My text</p>

    <p class="text-muted">My text</p>

    <hr>


    <button class="btn btn-outline-primary btn-lg">My button</button>
    <button class="btn btn-outline-secondary">Редагувати</button>
    <button class="btn btn-outline-danger btn-sm">Видалити</button>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>
</main>
<main class="p-5">
    <div class="row gy-5">
        <section class="col-12">
            <div class="card">
                <img class="card-img-top" src="http://picsum.photos/400/200" alt="Product photo">
                <div class="card-body">
                    <h5 class="card-title text-bg-primary">Product #16433</h5>
                    <p class="text-bg-secondary">Ноутбук ASUS TUF Dash F15 <br> FX517ZC-HN098</p>
                    <a href="/summary" class="btn btn-primary">Open</a>
                </div>
            </div>
        </section>
        <section class="col-3">
            <div class="card">
                <div class="card-header">
                    <div class="display-6">Menu</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Homa page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Summary page</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="btn btn-link">Skills page</a>
                    </li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-dark btn-sm">Update list</button>
                </div>
            </div>
        </section>
        <section class="col-9">
            <table class="table table-striped table-bordered text-bg-info">
                <thead>
                    <tr>
                        <th>#id</th>
                        <th>Name</th>
                        <th>Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Jon</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>Ivan</td>
                        <td>29</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="col-12">
            <div class="row g-2">
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-bg-success">
                        <div class="card-header text-center">Header</div>
                        <div class="card-body text-center">
                            <h6 class="card-title">This is title</h6>
                            <p>This is content of our box</p>
                            <button class="btn btn-light">Click</button>
                        </div>
                        <div class="card-footer text-center">Footer</div>
                    </div>
                </div>
            </div>
        </section>
    </div>






    {{!-- <br>
    <br>
    <br>
    <hr>

    <div class="card text-bg-success">
        <div class="card-header">
            <div class="display-6">Menu</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Homa page</a>
            </li>
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Summary page</a>
            </li>
            <li class="list-group-item text-bg-info">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    <br>
    <br>
    <hr>

    <table class="table table-striped table-bordered text-bg-info">
        <thead>
            <tr>
                <th>#id</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>Jon</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Ivan</td>
                <td>29</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <hr>

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>This is content of our box</p>
            <button class="btn btn-light">Click</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <div class="row gx-5 gy-1">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div> --}}


</main>
<h4>Навігація значки та повідомлення</h4>
<main class="p-5">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>
        <div class="col-5 pe-5">
            <div class="card">
                <div class="pt-4 pb-3 px-4">
                    <div class="nav flex-column">
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="#" class="nav-link disabled">Bootstrap</a>
                            </div>
                        </div>
                        <div class="nav-item mb-2">
                            <div class="card">
                                <a href="/skills" class="nav-link">FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 ">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home page</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#"> PC та Ноутбуки</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Ноутбук Macbook</a>
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary rounded-pill mb-3">Click Me</button>
                    <div class="alert alert-dark">
                        <h6 class="m-0">
                            Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Топ
                                Продаж</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<hr class="my-5">
<main class="p-5">
    <div class="row g-5">
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to set correct your email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input disabled class="form-control"> {{!-- якщо їочемо вимкнути поле для воду то пишемо сюда disabled--}}
            <div class="form-text text-danger">Error. You need to set correct your email</div>
        </div>
        <div class="col-12">
            <label class="form-label">Email address</label>
            <input class="form-control form-control-sm">
            {{!--Для зменшення форми вказуеме form-control-sm а для збільшення розміру form-control-lg --}}
            <div class="form-text text-danger">Error. You need to set correct your email</div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-2 pt-1">
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-6">
                    <input class="form-control">
                </div>
                <div class="col-4 ps-5 pt-1">
                    <div class="form-text text-danger">Error. You need to set correct your email</div>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <label class="form-label">Select role</label>
            <select class="form-select form-select-sm">
                <option selected>Open list</option>
                <option value="1">Admin</option>
                <option value="2">User</option>
            </select>
        </div>
        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-check">
                <div class="form-label">Select food</div>
                <label class="form-check-label">Apple</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orang</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Ice crem</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input type="checkbox" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>
        <div class="col-12">
            <div class="form-check">
                <div class="form-label">Select food</div>
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Orang</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Ice crem</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
        </div>
        <div>
            <hr>
        </div>

        <div class="col-12">
            <div class="form-check form-switch">
                <label class="form-check-label">Get bonus</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>
</main>
<hr class="my-5">
<h4 class="ms-5">Іконки</h4>
<main>
    <div class="ms-5">
        <h1>
            Hello!<i class="bi bi-emoji-smile-fill"></i>
            <i class="fa-brands fa-slack fa-beat" style="color: #69ccf7;"></i>
        </h1>


        <button class="btn btn-warning">
            <i class="bi bi-sd-card"></i>
            <i class="fa-brands fa-slack fa-beat" style="color: #69ccf7;"></i>
        </button>
    </div>
    <div class="ms-5 mt-3">
        <i class="fa-brands fa-slack fa-beat" style="color: #69ccf7;"></i>
    </div>
    <div class="mt-3 ms-5">
        {{!-- svg іконка ця іконка небуде працювати як на чистому html --}}
        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em"
            viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
                svg {
                    fill: #69ccf7
                }
            </style>
            <path
                d="M94.12 315.1c0 25.9-21.16 47.06-47.06 47.06S0 341 0 315.1c0-25.9 21.16-47.06 47.06-47.06h47.06v47.06zm23.72 0c0-25.9 21.16-47.06 47.06-47.06s47.06 21.16 47.06 47.06v117.84c0 25.9-21.16 47.06-47.06 47.06s-47.06-21.16-47.06-47.06V315.1zm47.06-188.98c-25.9 0-47.06-21.16-47.06-47.06S139 32 164.9 32s47.06 21.16 47.06 47.06v47.06H164.9zm0 23.72c25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06H47.06C21.16 243.96 0 222.8 0 196.9s21.16-47.06 47.06-47.06H164.9zm188.98 47.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06s-21.16 47.06-47.06 47.06h-47.06V196.9zm-23.72 0c0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06V79.06c0-25.9 21.16-47.06 47.06-47.06 25.9 0 47.06 21.16 47.06 47.06V196.9zM283.1 385.88c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06-25.9 0-47.06-21.16-47.06-47.06v-47.06h47.06zm0-23.72c-25.9 0-47.06-21.16-47.06-47.06 0-25.9 21.16-47.06 47.06-47.06h117.84c25.9 0 47.06 21.16 47.06 47.06 0 25.9-21.16 47.06-47.06 47.06H283.1z" />
        </svg>
    </div>
    {{!-- вивести можна через другу папку наприклад ми створили папку svg в public і туда вказуеме svg яку
    хочемо вивести а тут пишемо тільки шлях до цієї папки. --}}
    <div class="ms-5">
        <img src="/svg/slack.svg">
    </div>
</main>

<hr class="my-5">
<h4 class="ms-5">Словник робота з CSS</h4>
<main class="ms-5">
    <h1>Hello world!</h1>


    {{> title data="my title"}}


    <div style="color: red; background: black;">
        This is text
    </div> {{!-- це також цсс через атрибут style він має більшу пріоритетнімть
    для бразера і його неможна перезаписати задопомогою каскадності як інші сss --}}
</main>