<section class="p-5">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="https://github.com/" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.google.com/" class="nav-link">Contacts</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link">Help</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link disabled">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<h1 class="ms-5 mt-5">Мої замовлення</h1>
<div class="col-12">
    <div class="row">
        <div class="ms-5 ps-5 mt-4 col-2">
            <b>Всі замовлення</b>
        </div>
        <div class="col-4 ps-0 mt-4">
            <p class="text-primary">Гарантія та повернення</p>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-2 ms-5 mt-3">
            <input class="form-control">
        </div>
        <div class="col-1 mt-3 pe-0 me-0">
            <a href="https://www.youtube.com/" class="btn btn-success">Знайти</a>
        </div>
        <div class="col-2 mt-3 me-0 pe-0 ps-0">
            <a href="https://www.youtube.com/" class="btn btn-outline-success">Виділити все</a>
        </div>
        <div class="col-2 ps-0 ms-0 mt-3">
            <a href="https://www.youtube.com/" class="btn btn-outline-danger">Очистити все</a>
        </div>
    </div>
</div>
<hr class="my-5" size="4">
<div class="col-12">
    <div class="row">
        <div class="ms-5 col-3">
            <p>№12587463 від 01.01.2023</p>
            <p class="text-dark"><big>Виконано</big></p>
        </div>
        <div class="col-2 ms-4 text-end">
            <p>Сума:</p>
            <p class="text-dark"><big>25 000$</big></p>
        </div>
        <div class="col-1 ms-2 ps-2">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-5 mt-4 text-end">
            <a href="https://www.youtube.com/" class="btn btn-primary">Детальніше</a>
        </div>
    </div>
</div>
<hr size="1">
<div class="col-12">
    <div class="row">
        <div class="ms-5 col-3">
            <p>№12587463 від 01.01.2023</p>
            <p class="text-dark"><big>Виконано</big></p>
        </div>
        <div class="col-2 ms-4 text-end">
            <p>Сума:</p>
            <p class="text-dark"><big>25 000$</big></p>
        </div>
        <div class="col-1 ms-2 ps-2">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-1 ms-0 ps-1">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-1 ms-0 ps-1">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-3 mt-4 ps-0 me-1 text-end">
            <a href="https://www.youtube.com/" class="btn btn-primary">Детальніше</a>
        </div>
    </div>
</div>
<hr size="1">
<div class="col-12">
    <div class="row">
        <div class="ms-5 col-3">
            <p>№12587463 від 01.01.2023</p>
            <p class="text-dark"><big>Виконано</big></p>
        </div>
        <div class="col-2 ms-4 text-end">
            <p>Сума:</p>
            <p class="text-dark"><big>25 000$</big></p>
        </div>
        <div class="col-1 ms-2 ps-1">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-1 ms-0 ps-1">
            <img class="card-img-top" src="https://picsum.photos/110/100">
        </div>
        <div class="col-4 mt-4 text-end">
            <a href="https://www.youtube.com/" class="btn btn-primary">Детальніше</a>
        </div>
    </div>
</div>
<hr size="5" class="my-5">
<h2 class="ms-5 my-5">Особиста інформація</h2>
<div class="col-12">
    <div class="row">
        <div class="card mb-3">
            <h3 class="ms-3 mb-5">Особисті дані</h3>
            <div class="card ms-3 col-12">
                <div class="row">
                    <div class="col-4 ms-3">
                        <p class="mb-0">Прізвище</p>
                        <p><big>Іванов</big></p>
                    </div>
                    <div class="col-4 ps-4">
                        <p class="mb-0">Ім'я</p>
                        <p><big>Іван</big></p>
                    </div>
                    <div class="col-3 ps-4">
                        <p class="mb-0">По-батькови</p>
                        <p><big>Іванович</big></p>
                    </div>
                </div>
            </div>
            <div class="card ms-3 col-12 mt-3 mb-3">
                <div class="row">
                    <div class="col-4 ms-3">
                        <p class="mb-0">Дата народження</p>
                        <p><big>01.01.2000</big></p>
                    </div>
                    <div class="col-4 ps-4">
                        <p class="mb-0">Стать</p>
                        <p><big>Чоловіча</big></p>
                    </div>
                    <div class="col-3 ps-4">
                        <p class="mb-0">Мова</p>
                        <p><big>Українська</big></p>
                    </div>
                </div>
            </div>
            <div class="card ms-3 col-12 mt-3 mb-3">
                <div class="row">
                    <div class="col-4 mt-3 mb-3 ms-3">
                        <a href="https://www.youtube.com/" class="btn btn-primary">Редагувати</a>
                    </div>
                    <div class="col-4 mt-3 mb-3 ms-2">
                        <a href="https://www.youtube.com/" class="btn btn-outline-secondary">Очистити</a>
                    </div>
                    <div class="col-3 mt-3 mb-3">
                        <a href="https://www.youtube.com/" class="btn btn-outline-danger">Видалити</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="card mb-3">
            <h3 class="ms-3 mb-3">Отримувачі</h3>
            <div class="col-12 ms-3">
                <div class="row">
                    <div class="card col-4 m-2">
                        <div class="mt-2 mb-2"><big>Іванов Іван Іванович</big></div>
                        <div class="mb-2">+38 (098) 222 22 22</div>
                        <div class="mb-2"><a href="https://www.youtube.com/" class="btn btn-primary">Редагувати</a>
                        </div>
                    </div>
                    <div class="card col-4 m-2">
                        <div class="mt-2 mb-2"><big>Петров Петро Петрович</big></div>
                        <div class="mb-2">+38 (098) 111 11 11</div>
                        <div class="mb-2"><a href="https://www.youtube.com/" class="btn btn-primary">Редагувати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="card mb-3">
            <h3 class="ms-3 mb-3">Контакти</h3>
            <div class="col-12 ms-2">
                <div class="row">
                    <div class="card col-3 ms-3 mt-2 mb-2 me-3">
                        <div class="mt-2 mb-2">Номер телефону</div>
                        <div class="mb-2"><big>+38 (098) 222 22 22</big></div>
                        <div class="mb-2"><a href="https://www.youtube.com/" class="btn btn-primary">Редагувати</a>
                        </div>
                    </div>
                    <div class="card col-3 ms-3 mt-2 mb-2 me-3">
                        <div class="mt-2 mb-2">Додатковий номер телефону</div>
                        <div class="mb-2"><big>+38 (098) 111 11 11</big></div>
                        <div class="mb-2"><a href="https://www.youtube.com/"
                                class="btn btn-outline-secondary">Очистити</a>
                        </div>
                    </div>
                    <div class="card col-3 ms-3 mt-2 mb-2 me-3">
                        <div class="mt-2 mb-2">Електронна адреса</div>
                        <div class="mb-2"><big>ivanivanov@ukr.net</big></div>
                        <div class="mb-2"><a href="https://www.youtube.com/" class="btn btn-outline-danger">Видалити</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<hr class="my-5" size="4">
<section class="col-12">
    <div class="row m-0">
        <div class="col-2 ms-5 p-0">
            <div class="nav flex-column">
                <div class="nav-item p-0">
                    <a href="https://www.youtube.com/" class="nav-link">Home</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/trending" class="nav-link">Trending</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/subscriptions" class="nav-link">Subscriptions</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/library" class="nav-link disabled">Library</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history" class="nav-link">History</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/my_videos" class="nav-link">Your Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/live" class="nav-link">Live</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/account" class="nav-link disabled">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=WL" class="nav-link">Watch Later</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=LL" class="nav-link">Liked Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/music" class="nav-link">Music</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/gaming" class="nav-link disabled">Gaming</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="nav-link">Sports</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/news" class="nav-link">News</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="nav-link">Fashion
                        &
                        Beauty</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/learning" class="nav-link disabled">Learning</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history/report_history" class="nav-link">Report
                        History</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/?hl=en" class="nav-link">Help</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/answer/4347644?hl=en" class="nav-link">Send
                        Feedback</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/about/" class="nav-link disabled">About</a>
                </div>
            </div>
        </div>
    </div>
</section>