<section class="p-5">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="https://github.com/" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.google.com/" class="nav-link">Contacts</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link">Help</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link disabled">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="ms-5 mt-5">
    <h1>Кошик</h1>
</div>
<div class="ms-5">
    <a href="https://www.youtube.com/" class="btn btn-outline-dark">Продовжити покупку</a>
</div>
<hr class="my-5">
<div class="col-12">
    <div class="row">
        <div class="card col-2 ms-5">
            <img class="card-img-top" src="https://picsum.photos/110/110" alt="Product photo">
        </div>
        <div class="col-3">
            <h5>Samsung Galaxy S21 Ultra</h5>
            <description>екран 6.8", процесор Exynos 2100/Snapdragon 888, 12 ГБ ОЗУ</description>
        </div>
        <div class="col-2 ms-5 mt-5">
            <p>Ціна:</p>
            <p class="display-6">25 000 $</p>
        </div>
        <div class="col-2">
            <p class="text-center mt-5 pt-3">1шт</p>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mb-2 mt-4 ms-5">Додати</button>
            <button class="btn btn-outline-danger ms-5">Видалити</button>
        </div>
    </div>
</div>
<div class="col-12 mt-5">
    <div class="row">
        <div class="card col-2 ms-5">
            <img class="card-img-top" src="https://picsum.photos/110/110" alt="Product photo">
        </div>
        <div class="col-3">
            <h5>Ноутбук Dell XPS 13</h5>
            <description>екран 13.3", процесор Intel Core i7-1165G7, 16 ГБ ОЗУ</description>
        </div>
        <div class="col-2 ms-5 mt-5">
            <p>Ціна:</p>
            <p class="display-6">25 000 $</p>
        </div>
        <div class="col-2">
            <p class="text-center mt-5 pt-3">1шт</p>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mb-2 mt-4 ms-5">Додати</button>
            <button class="btn btn-outline-danger ms-5">Видалити</button>
        </div>
    </div>
</div>
<div class="col-12 mt-5">
    <div class="row">
        <div class="card col-2 ms-5">
            <img class="card-img-top" src="https://picsum.photos/110/110" alt="Product photo">
        </div>
        <div class="col-3">
            <h5>Телевізор LG OLED CX</h5>
            <description>
                екран 55", роздільна здатність 4K, Smart TV, HDR, звук Dolby Atmos, 4 HDMI порти, 3 USB порти.
            </description>
        </div>
        <div class="col-2 ms-5 mt-5">
            <p>Ціна:</p>
            <p class="display-6">25 000 $</p>
        </div>
        <div class="col-2">
            <p class="text-center mt-5 pt-3">1шт</p>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mb-2 mt-4 ms-5">Додати</button>
            <button class="btn btn-outline-danger ms-5">Видалити</button>
        </div>
    </div>
</div>
<div class="col-12 mt-5">
    <div class="row">
        <div class="card col-2 ms-5">
            <img class="card-img-top" src="https://picsum.photos/110/110" alt="Product photo">
        </div>
        <div class="col-3">
            <h5>Навушники Sony WH-1000XM4</h5>
            <description>
                Bluetooth 5.0, активне шумозаглушення, 30 годин автономної роботи, сенсорне управління, вага
                254 г.
            </description>
        </div>
        <div class="col-2 ms-5 mt-5">
            <p>Ціна:</p>
            <p class="display-6">25 000 $</p>
        </div>
        <div class="col-2">
            <p class="text-center mt-5 pt-3">1шт</p>
        </div>
        <div class="col-2">
            <button class="btn btn-primary mb-2 mt-4 ms-5">Додати</button>
            <button class="btn btn-outline-danger ms-5">Видалити</button>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="col-12">
    <h3 class="ms-5">Сума замовлення</h3>
</div>
<div class="col-12 display-6 ms-5">
    <b>75 000 $</b>
</div>
<div class="col-12 ms-5 mt-2 mb-4">
    <p>Без доставки</p>
</div>
<div class="ms-5">
    <a href="https://www.youtube.com/" class="btn btn-success">Оформити замовлення</a>
</div>
<div class="ms-5 mt-3">
    <a href="https://www.youtube.com/" class="btn btn-outline-success">Оформити кредит</a>
</div>
<hr class="my-5">
<div class="text-center">
    <h3>See other products</h3>
</div>
<div class="col-12">
    <div class="row">
        <div class="card col-4">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="iPhone 13">
            <div class="card-body">
                <h5 class="card-title">iPhone 13</h5>
                <description>
                    The latest iPhone model features a new A15 Bionic chip, improved camera system, and longer
                    battery life.
                </description>
            </div>
        </div>
        <div class="card col-4">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="MacBook Pro">
            <div class="card-body">
                <h5 class="card-title">MacBook Pro <span class="badge text-bg-warning rounded-pill">Hot</span></h5>
                <description>
                    Apple's high-end laptop features a 16-inch Retina display, powerful M1 Pro or M1 Max chip, and up to
                    64GB of RAM.
                </description>
            </div>
        </div>
        <div class="card col-4">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="AirPods Pro">
            <div class="card-body">
                <h5 class="card-title">AirPods Pro</h5>
                <description>
                    Apple's premium wireless earbuds feature active noise cancellation, a customizable fit, and up to
                    4.5 hours of listening time.
                </description>
            </div>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="card text-bg-dark">
    <h2 class="ms-5">Unlock Premium Content</h2>
    <div class="card-body ps-0">
        <p class="ms-5">Subscribe to access exclusive content and features.</p>
    </div>
    <div class="ms-5">
        <a href="https://www.youtube.com/" class="btn btn-primary">Register Now</a>
    </div>
    <div class="ms-5">
        <a href="https://www.youtube.com/" class="btn btn-primary mt-3">Buy Subscription</a>
    </div>

</div>
<hr class="my-5">
<section class="col-12">
    <div class="row m-0">
        <div class="col-2 ms-5 p-0">
            <div class="nav flex-column">
                <div class="nav-item p-0">
                    <a href="https://www.youtube.com/" class="nav-link">Home</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/trending" class="nav-link">Trending</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/subscriptions" class="nav-link">Subscriptions</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/library" class="nav-link disabled">Library</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history" class="nav-link">History</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/my_videos" class="nav-link">Your Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/live" class="nav-link">Live</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/account" class="nav-link disabled">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=WL" class="nav-link">Watch Later</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=LL" class="nav-link">Liked Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/music" class="nav-link">Music</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/gaming" class="nav-link disabled">Gaming</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="nav-link">Sports</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/news" class="nav-link">News</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="nav-link">Fashion
                        &
                        Beauty</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/learning" class="nav-link disabled">Learning</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history/report_history" class="nav-link">Report
                        History</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/?hl=en" class="nav-link">Help</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/answer/4347644?hl=en" class="nav-link">Send
                        Feedback</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/about/" class="nav-link disabled">About</a>
                </div>
            </div>
        </div>
    </div>
</section>