<section class="p-5">
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="https://github.com/" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.google.com/" class="nav-link">Contacts</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link">Help</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link disabled">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ms-5">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="https://github.com/">Головна</a>
        </li>
        <li class="breadcrumb-item">
            <a href="https://www.google.com/">Комп'ютери та ноутбуки</a>
        </li>
        <li class="breadcrumb-item active">Ноутбуки</li>
    </ol>
</div>
<h1 class="mt-5 mb-3 ms-5">Ноутбуки</h1>
<div class="col-12">
    <div class="row">
        <div class="col-3 mb-3">
            <select class="form-select">
                <option selected>За ціною</option>
                <option value="1">За зростанням</option>
                <option value="2">За спаданням</option>
            </select>
        </div>
        <div class="col-3 mb-3">
            <select class="form-select">
                <option selected>За новизною</option>
                <option value="1">Спочатку нові</option>
                <option value="2">Спочатку старі</option>
            </select>
        </div>
        <div class="col-3 mb-3">
            <select class="form-select">
                <option selected>За рейтингом</option>
                <option value="1">За зростанням</option>
                <option value="2">За спаданням</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card ms-3">
            <div class="ms-3">
                <p>Продавець</p>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Machinery</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3">
                <label class="form-check-label">Інші</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Бренд</p>
            </div>
            <div class="ms-3 mb-3">
                <form>
                    <input type="text" name="text" class="search" placeholder="Пошук" style="width: 434px; ;">
                </form>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Acer</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Apple</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Asus</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3">
                <label class="form-check-label">Dell</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Ціна</p>
            </div>
            <div class="ms-3 me-2 mb-3">
                <input type="text" class="form-control pe-0" id="formGroupExampleInput" placeholder="8 000">
            </div>
            <div class="ms-3 me-2 mb-3">
                <input type="text" class="form-control pe-0" id="formGroupExampleInput" placeholder="30 000">
            </div>
            <div class="ms-3 mb-3">
                <a href="https://www.youtube.com/" class="btn btn-outline-secondary" style="width: 60px;">OK</a>
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Готов к отправке</p>
            </div>
            <div class="form-check ms-3">
                <label class="form-check-label">Готов к отправке</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
        </div>
    </div>
    <div class="card col-4">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Ноут">
        <div class="card-body">
            <div class="ms-3 mt-3">
                <span class="badge text-bg-warning rounded-pill text-uppercase pt-2 me-2"
                    style="width: 80px; height: 30px;">Hot</span>
                <span class="badge text-bg-primary rounded-pill text-uppercase pt-2"
                    style="width: 80px; height: 30px;">New</span>
            </div>
            <div class="ms-3 mt-4">
                <h5>Ноут</h5>
            </div>
            <div class="ms-3 mt-3">
                <p>13 відгуків</p>
            </div>
            <div class="ms-3 display-6">
                <b>25 000 $</b>
            </div>
            <div class="ms-3 my-4">
                <p>Готовий до відправки</p>
            </div>
            <div class="ms-3">
                <a href="https://www.youtube.com/" class="btn btn-primary">Купити зараз</a>
            </div>
            <div class="ms-3 mt-2">
                <a href="https://www.youtube.com/" class="btn btn-secondary">Купити в кредит</a>
            </div>
            <div class="ms-3 mt-4">
                <ul>
                    <li class="mb-2">Діагональ "15.6"</li>
                    <li class="mb-2">Екран "IPS"</li>
                    <li class="mb-2">Процесор "Intel Core i5-1135G7"</li>
                    <li>Оперативна пам’ять "8 ГБ"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Ноут">
        <div class="card-body">
            <div class="ms-3 mt-3">
                <span class="badge text-bg-warning rounded-pill text-uppercase pt-2 me-2"
                    style="width: 80px; height: 30px;">Hot</span>
                <span class="badge text-bg-primary rounded-pill text-uppercase pt-2"
                    style="width: 80px; height: 30px;">New</span>
            </div>
            <div class="ms-3 mt-4">
                <h5>Ноут</h5>
            </div>
            <div class="ms-3 mt-3">
                <p>13 відгуків</p>
            </div>
            <div class="ms-3 display-6">
                <b>25 000 $</b>
            </div>
            <div class="ms-3 my-4">
                <p>Готовий до відправки</p>
            </div>
            <div class="ms-3">
                <a href="https://www.youtube.com/" class="btn btn-primary">Купити зараз</a>
            </div>
            <div class="ms-3 mt-2">
                <a href="https://www.youtube.com/" class="btn btn-secondary">Купити в кредит</a>
            </div>
            <div class="ms-3 mt-4">
                <ul>
                    <li class="mb-2">Діагональ "15.6"</li>
                    <li class="mb-2">Екран "IPS"</li>
                    <li class="mb-2">Процесор "Intel Core i5-1135G7"</li>
                    <li>Оперативна пам’ять "8 ГБ"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card ms-3">
            <div class="ms-3">
                <p>Процесор</p>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Intel Core i7</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Intel Core i5</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Intel Core i3</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">AMD Ryzen 9</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Діагональ екрану</p>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">"13"</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">"14"</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">"15-16"</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">"17-18"</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">"9-12.5"</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Оперативна пам’ять</p>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">10 - 12ГБ</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">16 - 24ГБ</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">32ГБ і більше</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">4ГБ</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">6 - 8ГБ</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <hr style="width: 434px;" class="ms-3 my-3">
            <div class="ms-3">
                <p>Операційна система</p>
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Chrome OS</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Linux</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Windows</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Mac OS</label>
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="form-check ms-3 mb-2">
                <label class="form-check-label">Без OS</label>
                <input type="checkbox" class="form-check-input">
            </div>
        </div>
    </div>
    <div class="card col-4">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Ноут">
        <div class="card-body">
            <div class="ms-3 mt-3">
                <span class="badge text-bg-warning rounded-pill text-uppercase pt-2 me-2"
                    style="width: 80px; height: 30px;">Hot</span>
                <span class="badge text-bg-primary rounded-pill text-uppercase pt-2"
                    style="width: 80px; height: 30px;">New</span>
            </div>
            <div class="ms-3 mt-4">
                <h5>Ноут</h5>
            </div>
            <div class="ms-3 mt-3">
                <p>13 відгуків</p>
            </div>
            <div class="ms-3 display-6">
                <b>25 000 $</b>
            </div>
            <div class="ms-3 my-4">
                <p>Готовий до відправки</p>
            </div>
            <div class="ms-3">
                <a href="https://www.youtube.com/" class="btn btn-primary">Купити зараз</a>
            </div>
            <div class="ms-3 mt-2">
                <a href="https://www.youtube.com/" class="btn btn-secondary">Купити в кредит</a>
            </div>
            <div class="ms-3 mt-4">
                <ul>
                    <li class="mb-2">Діагональ "15.6"</li>
                    <li class="mb-2">Екран "IPS"</li>
                    <li class="mb-2">Процесор "Intel Core i5-1135G7"</li>
                    <li>Оперативна пам’ять "8 ГБ"</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card col-4">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Ноут">
        <div class="card-body">
            <div class="ms-3 mt-3">
                <span class="badge text-bg-warning rounded-pill text-uppercase pt-2 me-2"
                    style="width: 80px; height: 30px;">Hot</span>
                <span class="badge text-bg-primary rounded-pill text-uppercase pt-2"
                    style="width: 80px; height: 30px;">New</span>
            </div>
            <div class="ms-3 mt-4">
                <h5>Ноут</h5>
            </div>
            <div class="ms-3 mt-3">
                <p>13 відгуків</p>
            </div>
            <div class="ms-3 display-6">
                <b>25 000 $</b>
            </div>
            <div class="ms-3 my-4">
                <p>Готовий до відправки</p>
            </div>
            <div class="ms-3">
                <a href="https://www.youtube.com/" class="btn btn-primary">Купити зараз</a>
            </div>
            <div class="ms-3 mt-2">
                <a href="https://www.youtube.com/" class="btn btn-secondary">Купити в кредит</a>
            </div>
            <div class="ms-3 mt-4">
                <ul>
                    <li class="mb-2">Діагональ "15.6"</li>
                    <li class="mb-2">Екран "IPS"</li>
                    <li class="mb-2">Процесор "Intel Core i5-1135G7"</li>
                    <li>Оперативна пам’ять "8 ГБ"</li>
                </ul>
            </div>
        </div>
    </div>
</div>










<hr class="my-5" size="4">
<section class="col-12">
    <div class="row m-0">
        <div class="col-2 ms-5 p-0">
            <div class="nav flex-column">
                <div class="nav-item p-0">
                    <a href="https://www.youtube.com/" class="nav-link">Home</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/trending" class="nav-link">Trending</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/subscriptions" class="nav-link">Subscriptions</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/library" class="nav-link disabled">Library</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history" class="nav-link">History</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/my_videos" class="nav-link">Your Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/live" class="nav-link">Live</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/account" class="nav-link disabled">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=WL" class="nav-link">Watch Later</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=LL" class="nav-link">Liked Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/music" class="nav-link">Music</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/gaming" class="nav-link disabled">Gaming</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="nav-link">Sports</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/news" class="nav-link">News</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="nav-link">Fashion
                        &
                        Beauty</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/learning" class="nav-link disabled">Learning</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history/report_history" class="nav-link">Report
                        History</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/?hl=en" class="nav-link">Help</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/answer/4347644?hl=en" class="nav-link">Send
                        Feedback</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/about/" class="nav-link disabled">About</a>
                </div>
            </div>
        </div>
    </div>
</section>