<div>
    <section class="p-5">
        <div class="card ms-5">
            <div class="row">
                <div class="col-12">
                    <div class="nav nav-tabs">
                        <div class="nav-item">
                            <a href="https://github.com/" class="nav-link">Home</a>
                        </div>
                        <div class="nav-item">
                            <a href="https://www.google.com/" class="nav-link">Contacts</a>
                        </div>
                        <div class="nav-item">
                            <a href="https://www.youtube.com/" class="nav-link">Help</a>
                        </div>
                        <div class="nav-item">
                            <a href="https://www.youtube.com/" class="nav-link disabled">Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h4 class="text-center mt-5 my-5">Latest News</h4>
    <section class="col-12">
        <div class="row">
            <div class="col-3">
                <div class="card text-bg-dark ms-5">
                    <div class="card-header">COVID-19 Vaccinations Begin in Europe</div>
                    <div class="card-body">
                        <p>
                            As the world continues to grapple with the ongoing COVID-19 pandemic, Europe begins its
                            vaccination rollout, with healthcare workers and the elderly among the first to receive the
                            vaccine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark ms-0">
                    <div class="card-header ps-2 pe-0">Tesla Stock Surges After Record Sales
                        <span class="badge text-bg-success rounded-pill">Top</span>
                        <span class="badge text-bg-danger rounded-pill">New</span>
                    </div>
                    <div class="card-body">
                        <p>
                            Tesla's stock price jumps 10% following the company's announcement of record sales in the
                            last quarter, thanks in part to strong demand for its electric vehicles.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">New Study Shows Benefits of Meditation for Mental Health</div>
                    <div class="card-body">
                        <p>
                            A new study published in the Journal of the American Medical Association finds that
                            practicing mindfulness meditation can lead to improved mental health outcomes for people
                            struggling with depression and anxiety.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark me-3">
                    <div class="card-header pe-0">NASA Launches New Mars Rover
                        {{!-- <span class="badge text-bg-success rounded-pill">Top</span> --}}
                        <span class="badge text-bg-danger rounded-pill">New</span>
                    </div>
                    <div class="card-body">
                        <p>
                            NASA's Perseverance rover successfully launches on a mission to explore Mars, with the goal
                            of collecting samples of the planet's surface and searching for signs of ancient microbial
                            life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="col-12 mt-5">
        <div class="row">
            <div class="col-3">
                <div class="card text-bg-dark ms-5">
                    <div class="card-header">GameStop Shares Soar as Reddit Traders Rally</div>
                    <div class="card-body">
                        <p>
                            Shares of GameStop surge as amateur traders on the social media platform Reddit rally to
                            drive up the price, in what some are calling a battle between Wall Street and Main Street.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">UK Announces Plan to Ban Sale of Gas-Powered Cars by 2030
                        <span class="badge text-bg-success rounded-pill">Top</span>
                    </div>
                    <div class="card-body">
                        <p>
                            In an effort to combat climate change, the UK government announces a plan to ban the sale of
                            new gas-powered cars and vans by 2030, with hybrid vehicles to follow in 2035.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">New Study Shows Link Between Exercise and Longevity</div>
                    <div class="card-body">
                        <p>
                            A new study published in the Journal of the American Medical Association suggests that
                            regular exercise can help people live longer, with participants who exercised regularly
                            having a lower risk of premature death.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-bg-dark me-3">
                    <div class="card-header">Amazon Expands Grocery Delivery Service
                        <span class="badge text-bg-danger rounded-pill">New</span>
                    </div>
                    <div class="card-body">
                        <p>
                            Amazon announces an expansion of its grocery delivery service, with plans to offer free
                            delivery to Prime members on orders over $35 and to expand its selection of fresh and
                            organic produce.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section class="p-5 mb-5">
        <div class="card ms-5">
            <div class="row">
                <div class="col-12">
                    <div class="nav nav-tabs">
                        <div class="nav-item col-2">
                            <a class="nav-link active"><b>Electronics</b></a>
                        </div>
                        <div class="nav-item col-2">
                            <a class="nav-link">Home & Kitchen</a>
                        </div>
                        <div class="nav-item col-2">
                            <a class="nav-link">Clothing & Accessories</a>
                        </div>
                        <div class="nav-item col-2">
                            <a class="nav-link disabled">Toys & Games</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ssection class="col-12 mt-5">
        <div class="row">
            <div class="col-4">
                <div class="card ms-5">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="iPhone 13">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-5 my-4">iPhone 13</h5>
                    <p class="ms-5">
                        The latest iPhone model features a new A15 Bionic chip, improved camera system, and longer
                        battery life.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="MacBook Pro">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-4">MacBook Pro <span class="badge text-bg-danger rounded-pill">Hot</span>
                    </h5>
                    <p>
                        Apple's high-end laptop features a 16-inch Retina display, powerful M1 Pro or M1 Max chip,
                        and up to 64GB of RAM.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card me-5">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="AirPods Pro">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-4">AirPods Pro</h5>
                    <p class="me-5">
                        Apple's premium wireless earbuds feature active noise cancellation, a customizable fit, and up
                        to 4.5 hours of listening time.
                    </p>
                </div>
            </div>
        </div>
    </ssection>
    <section class="col-12">
        <div class="row">
            <div class="col-4">
                <div class="card ms-5">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Sony Bravia XR A90J">
                </div>
                <div class="card-body">
                    <h5 class="card-title ms-5 my-4">Sony Bravia XR A90J
                        <span class="badge text-bg-primary rounded-pill">New</span>
                    </h5>
                    <p class="ms-5">
                        This OLED TV boasts a 4K resolution, HDR support, and a high refresh rate for smooth motion
                        handling.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Nintendo Switch OLED Model">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-4">Nintendo Switch OLED Model</h5>
                    <p>
                        The latest iteration of the popular gaming console features a larger OLED screen and improved
                        audio quality.
                    </p>
                </div>
            </div>
            <div class="col-4">
                <div class="card me-5">
                    <img class="card-img-top" src="https://picsum.photos/400/200" alt="Bose SoundLink Revolve+">
                </div>
                <div class="card-body">
                    <h5 class="card-title my-4">Bose SoundLink Revolve+
                        <span class="badge text-bg-danger rounded-pill">Hot</span>
                        <span class="badge text-bg-primary rounded-pill">New</span>
                    </h5>
                    <p>
                        This portable Bluetooth speaker features 360-degree sound, water-resistant construction, and up
                        to 16 hours of battery life.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section class="col-12">
        <div class="row">
            <div class="card text-bg-dark ms-5 pe-0 me-5">
                <div class="card-body p-0 mb-0">
                    <h2 class="ms-1">Unlock Premium Content</h2>
                    <p class="ms-1 mb-2">
                        Subscribe to access exclusive content and features.
                    </p>
                    <a href="https://www.youtube.com/" class="btn btn-primary ms-1">Register Now</a>
                    <div class="mt-2">
                        <a href="https://www.youtube.com/" class="btn btn-primary ms-1  mb-3">Buy Subscription</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section class="col-12">
        <div class="row">
            <div class="card text-bg-success ms-5">
                <div class="card-body text-center">
                    <h2 class="mb-5">Our Services</h2>
                    <p>
                        We offer a variety of services to meet your needs, including web design, content creation, and
                        social media management.
                    </p>
                    <a class="btn btn-primary" href="https://www.youtube.com/">Show More</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-5">
    <section class="col-12">
        <div class="row m-0">
            <div class="col-3 ms-5 p-0">
                <div class="nav flex-column">
                    <div class="nav-item p-0">
                        <a href="https://www.youtube.com/" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/trending" class="nav-link">Trending</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/subscriptions" class="nav-link">Subscriptions</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/library" class="nav-link disabled">Library</a>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/history" class="nav-link">History</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/my_videos" class="nav-link">Your Videos</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/live" class="nav-link">Live</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/account" class="nav-link disabled">Settings</a>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <a href="https://www.youtube.com/playlist?list=WL" class="nav-link">Watch Later</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/playlist?list=LL" class="nav-link">Liked Videos</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/music" class="nav-link">Music</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/gaming" class="nav-link disabled">Gaming</a>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="nav-link">Sports</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/news" class="nav-link">News</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="nav-link">Fashion &
                            Beauty</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/learning" class="nav-link disabled">Learning</a>
                    </div>
                </div>
            </div>
            <div class="col-2 p-0">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <a href="https://www.youtube.com/feed/history/report_history" class="nav-link">Report
                            History</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://support.google.com/youtube/?hl=en" class="nav-link">Help</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://support.google.com/youtube/answer/4347644?hl=en" class="nav-link">Send
                            Feedback</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/about/" class="nav-link disabled">About</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>