<section class="p-5">
    <div class="card ms-5">
        <div class="row">
            <div class="col-12">
                <div class="nav nav-tabs">
                    <div class="nav-item">
                        <a href="https://github.com/" class="nav-link">Home</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.google.com/" class="nav-link">Contacts</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link">Help</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://www.youtube.com/" class="nav-link disabled">Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-12">
    <div class="row">

    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="ms-5">
            <h1>Оформлення замовлення</h1>
        </div>

    </div>
    <div class="col-8">
        <h4 class="ms-5 mt-5">Контактні дані</h4>
        <button class="ms-5 mt-3 col-4 btn btn-warning">Я новий покупець</button>
        <button class="ms-5 col-4  mt-3 btn btn-outline-warning">Я постійний покупець</button>
    </div>
    <div class="card col-4 mt-5 pe-0">
        <div class="mb-2 mt-2">
            <button class="btn btn-success">Швидке замовлення</button>
        </div>
        <div class="mb-2">
            <button class="btn btn-danger">Видалити</button>
        </div>
        <div class="mb-2">
            <button class="btn btn-info">Детальніше</button>
        </div>
    </div>
    <div class="col-4">
        <label class="form-label">Прізвище</label>
        <input class="form-control ps-0 pe-0">
        <div class="form-text text-dark">Введіть прізвище</div>
    </div>
    <div class="col-4 ps-0 pe-0">
        <label class="form-label">Ім'я</label>
        <input class="form-control ps-0 pe-0">
        <div class="form-text text-dark">Введіть ваше ім'я</div>
    </div>
    <div class="col-4 ps-0 mt-2">
        <div class="card ps-2 pe-0">
            <h4>Всього</h4>
            <div>
                <p class="my-0">Ноут: 25000$</p>
                <p class="my-0">Мишка: 25000$</p>
                <p>Клава: 25000$</p>
            </div>
            <div>
                <p class="my-0">Всього товарів: 75000$</p>
                <p class="my-0">Купони: Немає</p>
                <p>Доставка: Безкоштовна</p>
            </div>
            <div>
                <p>Всього товарів: 75000$</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <label class="form-label">Мобільний телефон</label>
        <input class="form-control">
        <div class="form-text text-dark">Введіть телефон</div>
    </div>
    <div class="col-4">
        <label class="form-label">Пошта</label>
        <input class="form-control">
        <div class="form-text text-dark">Введіть Пошту</div>
    </div>
    <div class="col-4 mt-2 ps-0">
        <button class="btn btn-primary">Підтверлити замовлення</button>
        <button class="btn btn-outline-primary mt-2">Відмінити Купони</button>
    </div>

    <hr class="my-5">
    <div class="col-8 ms-5">
        <div class="form-check form-switch">
            <label class="form-check-label">Отримати інформацію про новинки</label>
            <input type="checkbox" class="form-check-input">
        </div>
    </div>
    <div class="col-8 ms-5 mt-3">
        <div class="form-check form-switch">
            <label class="form-check-label">Отримати інформацію про знижки</label>
            <input type="checkbox" class="form-check-input">
        </div>
    </div>
</div>
<hr class="my-5">
<div class="col-12">
    <div class="row">
        <div class="ms-5 mb-3">
            <h3>Доставка</h3>
        </div>
        <div class="col-5 ms-5">
            <label class="form-label">Місто доставки</label>
            <select class="form-select ps-0">
                <option selected>Оберіть місто доставки</option>
                <option>1 Київ</option>
                <option>2 Харків</option>
                <option>3 Одеса</option>
                <option>4 Львів</option>
                <option>5 Дніпро</option>
                <option>6 Донецьк</option>
            </select>
        </div>
        <div class="col-5">
            <label class="form-label">Район доставки</label>
            <select class="form-select ps-0">
                <option selected>Оберіть район доставки</option>
                <option>1 Голосіївський</option>
                <option>2 Оболонський</option>
                <option>3 Печерський</option>
                <option>4 Дарницький</option>
                <option>5 Деснянський</option>
                <option>6 Подільський</option>
            </select>
        </div>
        <div class="col-12 ms-4 mt-5">
            <div class="form-check">
                <label class="form-check-label">Самовивіз з відділення Нової пошти</label>
                <input name="Доставка" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Кур’єром Нової пошти</label>
                <input name="Доставка" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Самовивіз з магазину</label>
                <input name="Доставка" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Доставка за кордон</label>
                <input name="Доставка" type="radio" class="form-check-input">
            </div>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="col-12 ms-5">
    <div class="row">
        <h4>Оплата</h4>
        <div class="col-12">
            <div class="form-check">
                <label class="form-check-label">Оплата при отриманні</label>
                <input name="Оплата" type="radio" class="form-check-input">
            </div>
            <description>За тарифом перевізника</description>
            <div class="form-check">
                <label class="form-check-label">Оплатити зараз</label>
                <input name="Оплата" type="radio" class="form-check-input">
            </div>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="col-12">
    <div class="row">
        <h4 class="mb-2 ms-5">Контакині дані одержувача</h4>
        <div class="col-4 ms-5 mb-2">
            <label class="form-label">Прізвище</label>
            <input class="form-control">
            <div class="form-text text-dark">Введіть Прізвище</div>
        </div>
        <div class="col-4 mb-2">
            <label class="form-label">Ім'я</label>
            <input class="form-control">
            <div class="form-text text-dark">Введіть Ім'я</div>
        </div>
        <div class="col-4 ms-5">
            <label class="form-label">Мобільний телефон</label>
            <input class="form-control">
            <div class="form-text text-dark">Введіть телефон</div>
        </div>
        <div class="col-4">
            <label class="form-label">Пошта</label>
            <input class="form-control">
            <div class="form-text text-dark">Введіть Пошту</div>
        </div>
    </div>
</div>
<hr class="my-5">
<div class="col-12">
    <p class="ms-5 mb-0">Коментар</p>
    <div class="col-12 ms-5">
        <label class="form-label"></label>
        <input class="form-control">
        <div class="form-control text-dark"></div>
    </div>
</div>
<hr class="ms-5">
<div class="col-12">
    <div class="row">
        <h3 class="ms-5">Купони</h3>
        <div class="col-12 ms-5">
            <label class="form-label mb-2">Наявні купони</label>
            <select class="form-select form-select-lg ps-0">
                <option selected>Виберіть купон</option>
                <option>1 SEEYALATER</option>
                <option>2 HOTEL10</option>
                <option>3 DOWNLOAD25</option>
            </select>
        </div>
        <div class="col-12 ms-5 mt-3">
            <label class="form-label">Купони за запрошених друзів</label>
            <select class="form-select form-select-sm ps-0">
                <option selected>Виберіть купон</option>
                <option>1 TRAVEL5</option>
                <option>2 75VACA</option>
                <option>3 150VACA</option>
            </select>
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <div class="ms-5">
            <label class="form-label">Запросіть друзів та отримайте ще купон</label>
            <input class="form-control">
            <caption>Введіть контакт дані друзів через ;</caption>
            <div class="form-text text-dark">Напишіть адрес/телефон друзів через ";"</div>
        </div>
        <div class="ms-5">
            <label class="form-label">Запросити колег</label>
            <input class="form-control">
            <caption>Введіть контактні дані колег</caption>
            <div class="form-text text-dark">Напишіть електронні адреси/телефон колег через ";" </div>
        </div>
    </div>
</div>
<hr class="my-5">
<h3 class="ms-5">Допоможіть краще нам тебе зрозуміти</h3>
<h6 class="ms-5">Який тип обладнення ви зацікавлкнні купити</h6>
<div class="col-12">
    <div class="row ms-5">
        <div class="form-check">
            <label class="form-check-label">Смартфони</label>
            <input name="Допомога" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Ноутбуки</label>
            <input name="Допомога" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Планшет</label>
            <input name="Допомога" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">ПК</label>
            <input name="Допомога" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Телевізори</label>
            <input name="Допомога" type="radio" class="form-check-input">
        </div>
        <div>
            <label class="form-label">Який у вас досвід користування ПК</label>
            <input class="form-control">
            <div class="form-text text-dark"></div>
        </div>
        <div class="col-12 mt-3">
            <label class="form-label">Як часто ви купуєте обладнення</label>
            <select class="form-select form-select-sm ps-0">
                <option selected>Оберіть варіант</option>
                <option>1 Раз в тиждень</option>
                <option>2 Раз в місяць</option>
                <option>3 Раз в рік</option>
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">Ціна</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Репутаці</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Якість</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Особливості</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Гарантія</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Достуаність</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
        <div class="form-check">
            <label class="form-check-label">Обслуговування клієнтів</label>
            <input name="Фактори" type="radio" class="form-check-input">
        </div>
    </div>
</div>



<hr class="my-5">
<section class="col-12">
    <div class="row m-0">
        <div class="col-2 ms-5 p-0">
            <div class="nav flex-column">
                <div class="nav-item p-0">
                    <a href="https://www.youtube.com/" class="nav-link">Home</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/trending" class="nav-link">Trending</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/subscriptions" class="nav-link">Subscriptions</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/library" class="nav-link disabled">Library</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history" class="nav-link">History</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/my_videos" class="nav-link">Your Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/live" class="nav-link">Live</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/account" class="nav-link disabled">Settings</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=WL" class="nav-link">Watch Later</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/playlist?list=LL" class="nav-link">Liked Videos</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/music" class="nav-link">Music</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/gaming" class="nav-link disabled">Gaming</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UCo_q6aOlvPH7M-j_XGWVgXg" class="nav-link">Sports</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/news" class="nav-link">News</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/channel/UC1x8rV_f-2yPpzlN0JWZXIQ" class="nav-link">Fashion
                        &
                        Beauty</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/learning" class="nav-link disabled">Learning</a>
                </div>
            </div>
        </div>
        <div class="col-2 p-0">
            <div class="nav flex-column">
                <div class="nav-item">
                    <a href="https://www.youtube.com/feed/history/report_history" class="nav-link">Report
                        History</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/?hl=en" class="nav-link">Help</a>
                </div>
                <div class="nav-item">
                    <a href="https://support.google.com/youtube/answer/4347644?hl=en" class="nav-link">Send
                        Feedback</a>
                </div>
                <div class="nav-item">
                    <a href="https://www.youtube.com/about/" class="nav-link disabled">About</a>
                </div>
            </div>
        </div>
    </div>
</section>